[submodule "plugins/authsome"]
	path = plugins/authsome
	url = git://github.com/felixge/cakephp-authsome.git
[submodule "plugins/vcard"]
	path = plugins/vcard
	url = http://github.com/markstory/cakephp_vcard.git
