/**
 * ID's for page structure and layout and major structural definition
 */
/*** CONTAINER ***/
#container {
	width: 955px;
	margin: 0 auto;
}
/*** HEADER ***/
#header {
	margin-bottom: 10px;
	overflow: hidden;
}
#header h1 {
	margin: 10px 2px 10px 2px;
	color: #DEAF75;
	text-shadow: 0px 1px 5px #000;
}
#header img {
	float: right;
}
/*** CONTENT ***/
#content {
	position: relative;
	z-index: 20;
	background: #fff;
	box-shadow: 0 1px 5px #000;
	-webkit-box-shadow: 0 1px 5px #000;
	-moz-box-shadow: 0 1px 5px #000;
	padding: 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
td div.user_metadata {
	clear: left;
}
td div.gravatar_image {
	margin-top: 5px;
}
td div.gravatar_image img {
	clear: left;
	float: left;
	margin: 0 5px 5px 5px;
	padding: 2px;
	border: dotted 1px #cccccc;
}
dl {
	margin: 0 0 5px 95px; 
}
dd, dt {
	width: 35%;
	float: left;
	margin-bottom: 5px;
}
dt {
	font-weight: bold;
}
td.head {
	cursor: pointer;
}
/*** FOOTER ***/
#footer {
	margin-top: 10px;
	color: #ffffff;
	text-align: center;
}