/**
 * ID's for page structure and layout and major structural definition
 */
/*** CONTAINER ***/
#container {
	width: 955px;
	margin: 0 auto;
}
/*** HEADER ***/
#header {
	margin-bottom: 10px;
	overflow: hidden;
}
#header h1 {
	float: left;
	margin: 20px 0;
	
}
#header img {
	float: right;
}
/*** CONTENT ***/
#content {
	position: relative;
	z-index: 20;
	background: #fff;
	box-shadow: 0 1px 5px #000;
	-webkit-box-shadow: 0 1px 5px #000;
	-moz-box-shadow: 0 1px 5px #000;
	padding: 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
/*** FOOTER ***/
#footer {
	margin-top: 10px;
	color: #ffffff;
	text-align: center;
}